<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="CSS/Cadastro.css" media="screen">
    <script src="JS\Home.js"></script>
</head>
<body class="cadastro">
    <div class="Cad">
        <div class="home">
            <a href="../projeto/Home.html"><img src="../projeto/Imagens/Luz.png" height="81px" width="150"></a>
    </div>
        <h1>Alunos Cadastrados</h1>
    </div>
	<div class="menu">
		<table width="500px" border ="1px" text-align: center;>
			<tr>
				<td><h1>Alunos cadastrados</h1>
				<div class id="divBusca">
					<img src="../projeto/Imagens/Lupa.png" id="btnBusca" alt="Buscar"/>
					<input type="text" id="txtBusca" placeholder="Nome"/>
					<input type="submit" value="Buscar" />
				</div>
				</td>
			</tr>
		</table>
</div>
            <div class="botao">
				<a href="editar/<%= usuario.id %>">Alterar</a></li>
				<a href="deletar/<%= usuario.id %>"> Deletar</a></li>
				<a href="../projeto/Cadastro.html"> Cadastrar Novo Usuario </a></li>
            </div>
        </form>
    </div>
</body>

</html>